---
import { GithubFileTree } from "../../components/GithubViewer/GithubFileTree";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";

const { slug } = Astro.params;
const [_, user, repo, path] = slug.match(/(.+)\/(.+)/) ?? [];
---

<Layout>
    <Header />
    <section class="h-full w-screen overflow-hidden">
        <GithubFileTree user={user} repo={repo} client:load />
    </section>
</Layout>
