@import url("https://fastly.jsdelivr.net/gh/KonghaYao/chinese-free-web-font-storage/build/斗鱼追光体/result.css");
@import url("https://fastly.jsdelivr.net/gh/KonghaYao/chinese-free-web-font-storage/css/Noto Serif SC.css");
.font-song {
    font-family: "Noto Serif SC";
}
.font-title {
    font-family: "DOUYU Font";
}

/* 全局样式 */
.button-like {
    @apply transition-transform active:scale-90 cursor-pointer;
}
.material-icons {
    @apply transition-transform active:scale-90;
}
.tag {
    @apply px-2 py-1;
}

::-webkit-scrollbar {
    width: 6px; /* 竖向滚动条宽度 */
    height: 6px; /* 横向滚动条高度 */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px; /* 滚动条样式 */
    @apply bg-gray-300;
}
