<!DOCTYPE html>
<html lang="zh">
    <head>
        <title>前端脑图</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover"
        />
        <meta name="theme-color" content="#ffffff" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta
            name="description"
            content="这是一个提供 Github 仓库快速查看的项目"
        />
        <meta name="keywords" content="Github,Tree viewer,file viewer,repo" />
        <link
            rel="stylesheet"
            href="https://fastly.jsdelivr.net/npm/@fontsource/noto-serif-sc/index.css"
        />
        <style>
            body {
                font-family: "Noto Serif SC";
            }
        </style>
    </head>
    <body class="h-screen w-screen overflow-hidden flex flex-col">
        <slot />
    </body>
</html>
